<nav class="shadow-md">
  <div class="layout">
    <div class="flex flex-row py-6 md:py-12 w-full justify-between items-center">
      <span>
        <a routerLink="" class="text-2xl font-extrabold">Anson Tran</a>
      </span>
      <ul class="flex gap-8 list-none">
        <li>
          <a routerLink="/about" routerLinkActive="active" class="text-xl font-thin">About</a>
        </li>
        <li>
          <a routerLink="/projects" routerLinkActive="active" class="text-xl font-thin">Projects</a>
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="active" class="text-xl font-thin">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>