<nav class="shadow-sm">
  <div class="flex max-w-screen-2xl mx-auto">
    <div class="flex flex-row px-4 py-12 w-full justify-between">
      <span>
        <a routerLink="" class="font-extrabold text-2xl">Anson Tran</a>
      </span>
      <ul class="flex items-center space-x-10">
        <li>
          <a routerLink="/about" routerLinkActive="active" class="text-xl font-thin">About</a>
        </li>
        <li>
          <a routerLink="/projects" routerLinkActive="active" class="text-xl font-thin">Projects</a>
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="active" class="text-xl font-thin">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>