<nav class="shadow-sm">
  <div class="flex items-center justify-between px-32 py-8">
    <span>
      <a routerLink="" class="font-extrabold text-2xl">Anson Tran</a>
    </span>
    <ul class="flex items-center space-x-10">
      <li>
        <a routerLink="/about" routerLinkActive="active" class="text-xl">About</a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="text-xl">Projects</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active" class="text-xl">Blog</a>
      </li>
    </ul>
  </div>
</nav>