<main class="block pt-8">
  <div class="flex flex-col max-w-screen-2xl mx-auto px-4">
    <h2 class="font-sans font-bold text-3xl py-2 mb-6 mx-auto md:mx-0">Course Topics</h2>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <app-card
        *ngFor="let course of courses"
        [title]="course.title"
        [description]="course.description"
        [image]="course.image"
        class="cursor-pointer"
        (click)="selectCourse(course.id)"
      ></app-card>
    </div>
  </div>
</main>