<main class="layout flex flex-col">
  <h1 class="font-extrabold pt-16 py-8 mx-auto md:mx-0">Course Topics</h1>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-card
      *ngFor="let course of courses"
      [title]="course.title"
      [description]="course.description"
      [image]="course.image"
      class="cursor-pointer h-full shadow-xl border rounded-lg hover:scale-105 delay-75 transition"
      (click)="selectCourse(course.id)"
    ></app-card>
  </div>
</main>